@use "components/Container";
@use "components/UrlBox";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html,body,#root{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.display-none{
    display: none !important;
}
#App{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .main-container{
        width: 402px;
        height: 469px;
        align-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        header{
            margin-bottom: 29.6px;
            h1{
                font-size: 18px;
                color: #4F4F4F;
                font-weight: 100;
                margin-bottom: 16px;
            }
            p{
                font-size: 10px;
                color: #828282;
            }
        }
        .img-drop-down{
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2397BEF4FF' stroke-width='2' stroke-dasharray='9.9' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
            border-radius: 12px;
            align-self: center;
            width: 338px;
            height: 218.9px;
            box-shadow: none;

            padding: 36px;
            margin-bottom: 19px;
            img{
                margin-bottom: 37px;
            }
            p{
                font-size: 12px;
                color: #BDBDBD;
                line-height: 0;
            }
        }
        .drag-enter{
            background-color: #cccccc5e;
        }
        footer{
            p{
                font-size: 12px;
                color: #BDBDBD;
                margin-bottom: 21.6px;
            }
            button{
                width: 101px;
                height: 32px;
            }
        }
    }
    .loading-bar{
        width: 400px;
        height: 143.6px;
        align-self: center;
        padding: 36px 27px 43.8px 32px;
        h1{
            font-size: 18px;
            color:#4F4F4F;
            font-weight: 100;
            margin-bottom: 30.7px;
        }
        .bar{
            width: 340.7px;
            height: 6px;
            background: #F2F2F2;
            border-radius:8px;
            overflow: hidden;
            position: relative;

            .moving-part{
                width: 100.9px;
                height: 6px;
                border-radius:8px;
                background: #2F80ED;
                position: absolute;
                

            }

        }
    }
    .play-loading-anim{
        @keyframes move-loading-bar {
            from{left: 0px;}
            to{left: 340px;}
        }
        .moving-part{
            animation-name: move-loading-bar;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
        }
    }
    .img-preview{
        width: 400px;
        height: 455px;
        border-radius: 12px;
        align-self: center;
        padding: 33px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .grid-container{
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
            margin-bottom: 11px;
            .back-btn{
                cursor: pointer;
            }
        }
        p{
            font-size: 18px;
            color: #4F4F4F;
            margin-bottom: 25px;

        }
        .img-container{
            width: 338px;
            height: 224px;
            border-radius:12px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            img{
                height: 100%;
                border-radius:12px;
                cursor: pointer;
            }
        }
        .url-container{
            width: 338px;
            height: 36px;
            
            input{
                font-size:10px;
                color: #4F4F4F;
            }
            button{
                font-size: 10px;
            }
        }
    }
    .btn{
        background: #2F80ED;
        color: white;
        border: transparent;
        font-size: 12px;
        border-radius: 8px;
        font-weight: 100;
        cursor: pointer;
    }
}